body {
    color: #000;
    font-family: 'lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
}

.header-contact-link {
    text-decoration: none;
}

.header-contact-text {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-nav-link {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.desc {
    background-color: #191E22;
    background-image: url(../img/first-screen-bkg.jpg);
}

.desc-title,
.desc-link {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
}

.desc-link {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
}

.service {
    background: #EBEBEB;
}

.section-title {
    color: #BDBDBD;
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
}

.section-sub-title,
.section-sub-title_span {
    color: #333;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.section-sub-title_span {
    color: #005FA3;
}

.section-dec_text {
    color: #000;
    line-height: 138%;
}

.about-us_item,
.our_clients,
.our_expert {
    background-color: #EBEBEB;
    text-decoration: none;
}

.service-item-link {
    background-image: url(../img/services-bkg.jpg);
    text-decoration: none;
}

.service-item-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
}

.review-button {
    color: #FFF;
    font-weight: 400;
}

.review-item-text {
    color: #000;
}

.review-item-author {
    color: #000;
    font-weight: 900;
}

.review-item-position {
    color: #EBEBEB;
    font-weight: 400;
}

.contact_us {
    background-image: url(../img/form-bkg.jpg);
    text-decoration: none;
}

.contact_us_title {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.contact_us_sub_title {
    color: #FFF;
}

.contact_us_number,
.contact_us_email {
    color: #FFF;
    font-size: 21px;
}

.all-rights-reserved{
    color: #000;
    font-size: 14px;
}